<% include ../../partials/header %>

<% include ../../partials/studentSidebar %>
    <div class="col-10">
        <div id="block">

            <table class="table text-center table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>DAA(RCS-501)</th>
                    <th>DBMS(RCS-502)</th>
                    <th>PPL(RCS-503)</th>
                    <th>Total</th>

                </tr>
            </thead>
            <% attendance.forEach(function(data){ %>
                <tr>
                    <td><%= data.sid %></td>
                    <td><%= data.details[0].name %></td>
                    <td><%= data.rcs501 %>%</td>
                    <td><%= data.rcs502 %>%</td>
                    <td><%= data.rcs503 %>%</td>
                    <td><%= data.total %>%</td>

                </tr>
                  
            <% }); %>

        </table>
        </div>
    </div>